* {
  margin: 0px;
  padding: 0px;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#container {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

#tools {
  margin: 0 auto;
  font-size: 20px;
  font-family: monospace;
  text-align: center;
}
#tools div {
  display: inline-block;
}

#tools label{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#fps {
  width: 90px;
  text-align: right;
  margin-right: 10px;
}

#fps.sleeping{
  color: gray;
}

#buttons {
  clear: both;
}

button{
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  width: 80px;
}

#info{
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
}

#info p{
  margin-bottom: 10px;
}